<div id="register-form" class="dialog-box">
    <h1>Register</h1>
    <p>
        <label for="username">Username:</label>
        <input type="text" id="username" />
    </p>
    <p>
        <label for="password">Password:</label>
        <input type="password" id="password" />
    </p>
    <p>
        <label for="fullName">Full Name:</label>
        <input type="text" id="fullName" />
    </p>
    <p class="buttons">
        <a href="#" class="button" id="registerButton">Register</a>
        <a href="#" class="link">Login</a>
    </p>
</div>